@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>School Management System</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>About</h2>
        <p>
            This project is about the school kind of management which involved in
            ASP.NET Core with MVC, Entity Framework and CRUD Function and this 
            Project is followed by the Microsoft Documentation 
            .... Yeah. I am on the way of exploring ASP.NET Core
        </p>
    </div>
    <div class="col-md-6">
        <h2>School Management System</h2>
        <p>
            On the Progress of building this School Management System...
            Lets see what Microsoft Tutorial got for us.....
        </p>
    </div>
</div>